@import "./../../assets/scss/variables";



.colored {
    color: $primary-color;
}

.grey {
    color: #E3E3E3;
}

.stars_block {
    padding: 20px 30px;
    @media (max-width : 1024px) {
        padding : 0
    }
}

.star_i {
    font-size: 30px;
    margin-right: 5px;

    @media (max-width : 1024px) {
        font-size: 15px;


    }
}

ul{
    padding : 0 ;
}

ul > li {
    list-style: none;
}