@import "./../../assets/scss/variables";



.colored {
    color: $primary-color;
}

.grey {
    color: #E3E3E3;
}

.stars_block {
    padding: 0 30px;
}

.star_i {
    font-size: 30px;
    margin-right: 5px;

    @media (max-width : 1024px) {
        font-size: 12px;

    }
}