@import "./../../assets/scss/variables";


.cards_block {
    background-color: $secondary-color;
    border-radius: $radiusXL;
    padding : 30px; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px ;
  }