@import "./../../assets/scss/variables";

.accordion {
    width : 85%; 
    margin : 30px auto; 
    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        border-radius: 10px;
        padding : 5px 20px; 
        color : #ffffff; 
        font-size: 24px;
        font-weight: 500;
    }

    &_content{
        background-color: $secondary-color;
        color: $primary-color;
        padding : 10px; 
        border-radius: 10px;
        font-size: 24px;
        transition: 0.2s;
    }

    &_hidden {
        height  : 0 ;
        overflow: hidden;   
        padding  : 0;      
    }

    &_active {
        height: auto;
    }

    &_btn{
        background-color: transparent;
        border : none;
        color : white; 
        cursor: pointer;
    }
}

.i{
    &_btn{
        font-size: 24px;
        transition: 0.2s;
    }
    &_active{
        transform: rotate(180deg);
    }

}