@import "./../../assets/scss/variables.scss";

.banner {
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: $radiusXL;
  display: flex;
  align-items: center;
  justify-content: center;
  &_title {
    font-weight: 500;
    font-size: 48px;
    color: white;
  }

  @media (max-width : 1024px) {
   border-radius: 10px;
   padding : 0 110px 0 20px; 
   
   &_title{
     font-size: 24px; 
   }

   &_small{
    height: 111px;
   }
  }
}
